# Web Service Configuration
PORT=port
AUTH_PORT=port

FRONTEND_ORIGIN=http://localhost:3000

# Auth Service Configuration
AUTH_SERVICE_ADDR=auth-service:9000

# Redis Connection
REDIS_DSN=redis:6379
REDIS_PASSWORD=your-super-redis-passowrd-change-me-now

# JWT Secrets (CHANGE THESE IN PRODUCTION - min 32 chars)
ACCESS_SECRET=your-super-secret-access-key-change-me-now
REFRESH_SECRET=your-super-secret-refresh-key-change-me-now

# Database Configuration
DB_USER=db-user
DB_SECRET=db-secret
DB_HOST=db-host
DB_PORT=port
DB_NAME=db-name
DB_SSLMODE=

# Production Flags (optional)
GIN_MODE=release